// numbers
$orangeNumber: #f68c13;
$redNumber: #e25f64;
$greenNumber: #39e17b;

// box shadows
$mainBoxesShadow: 2px 2px 2px 2px #ebebeb;
$footerBoxShadow: 5px 5px 5px 5px #172532;

// colors
$red: #d74d52;
$white: #fff;
$headerText: #3c4955;
$highlight: #f5d2d4;
$grey: #8fa1b5;
$darkText: #191919;
$jumbotronButtonColor: #4a5864;

// backgrounds
$darkBackground: #192735;
$lightBackground: #fff;
$footerBottomBg: #15222e;

// borders
$registerBorder: 7px solid #23374b;
$picturesBorder: 2px solid $white;

// margin
$h2Margin: 20px;

// font size
$h2Size: 2rem;


